# Miscellaneous
*.class
*.err
*.log
*.pid
*.pyc
*.swp
.DS_Store
.atom/
.codex-gitconfig
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.codex-home/
.dart-appdata/
.dart_appdata/
.tools/
android/local.properties
**/doc/api/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_export_environment.sh
**/windows/flutter/ephemeral/
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
devtools_options.yaml
run-flutter-web-*.ps1

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
